#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                name: (
                    name: "Topplegrass"
                ),
                gltf: File("assets/Topplegrass.gltf", ()),
                despawn_when_out_of_bounds_tag: (),
                topplegrass_tag: (),
            ),
        ),
    ],
)
